PORT=3003
MONGO_URI=mongodb://pedidos_app:pedidos_pass@mongo-pedidos:27017/pedidos_db?authSource=admin
USUARIOS_SERVICE_URL=http://servicio-usuarios:3001
PRODUCTOS_SERVICE_URL=http://servicio-productos:3002
